@model FIT5032_Portfolio.Models.IndexViewModel
@{
    ViewBag.Title = "Welcome Back";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>

    @if (User.IsInRole("Admin"))
    {
        <p>@Html.ActionLink("Manage user", "Index", "AspNetUsers", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>

    }
    else if (User.IsInRole("MRIServiceProvider"))
    {
        <p>@Html.ActionLink("Edit Detail", "MRIView", "MRIServiceProviders", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        <p>@Html.ActionLink("View All Appointments", "MRIView", "Appointments", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        <p>@Html.ActionLink("View All Reviews", "MRIView", "MRIServiceProviders", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>

    }
    else
    {
        <h5>Manage Appointment</h5>
        <p>@Html.ActionLink("Make An Appointment", "Create", "Appointments", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        <p>@Html.ActionLink("View All Appointments", "Index", "Appointments", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>

    }

    <hr />
    <div>
        <h5>Change your account settings</h5>
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</main>